/* ======= HOME ======= */

#home{
    position: relative;
    align-items: center;
    justify-content: center;
}

#home-img{
    width: 100%;
    object-fit: cover;
    z-index: 5;
}

#home-bg{
    position: absolute;
    transform: translate(0vw, -7vw);
    width: 47vw;
    height: 28vw;
    object-fit: cover;
}

#home-text{
    position: absolute;
    transform: translateY(-6vw);
    width: 36vw;
}

#home-text :nth-child(1){
    font-family: 'Source Code Pro', monospace;
    font-size: 2vw;
}

#home-text :nth-child(2){
    font-family: 'Source Code Pro', monospace;
    font-size: 3vw;
    font-weight: 700;
    color: #3C91E6;
}

#home-links{
    position: absolute;
    transform: translate(26.5vw, 0.5vw);
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 2.5vw;
    z-index: 5;
}

#home-links a img{
    width: 100%;
}

/* ======= Blinker ======= */

#blinker {
    height: 30px;
    margin-bottom: -4px;
    width: 2px;
    background: white;
    opacity: 0;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }