/* ======= HOME ======= */

#home{
    position: relative;
    align-items: center;
    justify-content: center;
}

#homeWrapper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#home-img{
    width: 100%;
    height: calc(100%-60px);
    object-fit: scale-down;
    z-index: 5;
}

#home-bg{
    position: absolute;
    transform: translate(0vw, -7vw);
    width: 55vw;
    height: 35vw;
    object-fit: cover;
    opacity: 0.4;
}

#home-text{
    position: absolute;
    transform: translateY(-7vw);
    width: 50vw;
}

#home-text :nth-child(1){
    font-family: 'Source Code Pro', monospace;
    font-size: 2.9vw;
}

#home-text :nth-child(2){
    font-family: 'Source Code Pro', monospace;
    font-size: 4.35vw;
    font-weight: 700;
    color: #3C91E6;
}

#home-links{
    position: absolute;
    transform: translate(30.5vw, 3.5vw);
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 2.5vw;
    z-index: 5;
}

#home-links a img{
    width: 100%;
}


@media only screen and (min-width: 1700px) {
    #home-bg {
        width: 950px;
        height: 600px;
        transform: translate(0,-120px);
    }

    #home-text{
        transform: translateY(-120px);
        width: 880px;
    }

    #home-text :nth-child(1){
        font-size: 50px;
    }
    
    #home-text :nth-child(2){
        font-size: 75px;
    }

    #home-links{
        transform: translate(530px, 52px);
        gap: 15px;
        width: 48px;
    }
}