/* ======= PROJECTS ======= */

#projects
{
    flex-direction: column;
    gap: 40px;
}

.project-item{
    width: calc(100% - 30px);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: white;
    padding: 15px;
}

.project-item-title{
    font-size: calc(1.3vw + 1.3vh);
    margin-bottom: 10px;
}

.project-item-description{
    font-size: calc(.9vw + .9vh);
}

.boxBtn{
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 15px;
    color: #ffffff;;
    background-color: transparent;
    border: #e6e6e6 1px solid;
    margin-top: 30px;
    transition: 0.8s;
}

.boxBtn:hover{
    cursor: pointer;
    background-color: #e6e6e6;
    color: #000000;
}

.RemoveLink{
    color: inherit;
    text-decoration: none;
}